.logo {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    margin: 16px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
}

.content {
    background: #fff;
    flex: 1;
    //overflow: auto;
}

:global(.ant-layout-sider-collapsed) :global(.anticon) {
    font-size: 16px;
    margin-left: 8px;
}

:global(.ant-layout-sider-collapsed) :global(.nav-text) {
    display: none;
}

:global(.ant-layout-sider-collapsed) :global(.ant-menu-submenu-vertical)> :global(.ant-menu-submenu-title) {
    &:after {
        display: none;
    }
}

:global(.ant-layout) {
    height: 100%;
    background: #fff;
}

:global(.ant-layout-header) {
    height: 40px;
    background: #404040;
    padding: 0;
}

:global(.ant-layout-footer) {
    padding: 20px;
}